html, body {
text-align: center;
margin:0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
p {
    text-align: center;
    font-family: 'Abel';
    
    font-size: 25px;
    color: #001C06;
    margin:0 auto;
    margin-top: 35px;
}

body {
	padding: 0;
	text-align: left;
	font-family: 'Abel';
	font-size: 25px;
	color: #001C06;
    margin-top: 35px;
	margin:0 auto;
}

.header
{
    background-image:url(header.jpg);
    background-repeat:no-repeat;
    height:160px;
    width:80%;
    margin-top:35px;
    margin: 0 auto;
}

.headerTitle
{
    position:relative;
    margin: 0;
    left:18px;
    top:100px;
    color:#001C06;
    text-align:left;
    font-size:50px;
    font-weight:bold;
    font-family:"Courier New", Courier, monospace;
    margin:0 auto;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin:0 auto;
}
